@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
h1 {
  font-family: arial black;
  text-align: center;
  word-spacing: 30px;
  font-size: 350%;
}
img {
  display: block;
  margin-right: auto;
}
nav {
  color: black;
  text-align:center;
  word-spacing: 50px;
  font-size: 190%;
}
body {
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 100%;
}
ol {
  text-align: left;
}
ul {
  text-align: left;
}
#very {
  text-align: left;
}
h3 {
  font-size: 125%;
}
#ver {
  margin-left: auto;
  margin-right: auto;
}
#head {
  font-size: 125%;
}
h4 {
  font-size: 150%;
}
a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    font-family: Amatic Sc;
    text-align: left;
    font-size: 150%
}
a:hover, a:active {
    color: pink;
}
