
h1 {
  font-family: arial black;
  text-align:center;
  word-spacing: 30px;
  font-size: 350%
}
img {
  display: block;
  margin-right: auto;
}
nav {
  color: black;
  text-align:center;
  word-spacing: 50px;
  font-size: 125%
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover {
    color: pink;
    text-decoration: black;

}
body {
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 100%
}
ol {
  text-align: left;
}
ul {
  text-align: left;
}
#very {
  text-align: left;
}
